<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inline Style</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <style>
    .box {
      width: 100px;
      height: 100px;
      background-color: gray;
      display: inline-block;
      margin-right: 5px;
    }
    .yellow {
      background-color: yellow;
    }
    .red {
      background-color: red;
    }
    .green {
      background-color: green;
    }
    .blue {
      background-color: blue;
    }
  </style>
</head>

<body>
  <div id="app">
    <div
      class="box"
      :style="{ backgroundColor: color }"
    >
    </div> 
    <div
      class="box"
      :style="customStyle"
    >
    </div>
    <div
      class="box"
      :style="[customStyle, { width: yukseklik + 'px' }]"
    >
    </div> 
    <hr>
    <input type="text" v-model="color">
    <input type="text" v-model="yukseklik">
  </div>
  <script>
    const { createApp } = Vue

    createApp({
      
      data () {
        return {
          color: 'yellow',
          yukseklik: 100
        }
      },

      computed: {
        customStyle () {
          return {
            backgroundColor: this.color,
            height: this.yukseklik + 'px'
          }
        }
      }

    }).mount('#app')
  </script>
</body>

</html>